extends layout

block content

  - if (!results.length)
    h2.ui.ten.wide.column 
      | No articles about "<strong>#{id}</strong>" were found.
  - else
    h2.ui.header.ten.wide.column Articles about "#{id}"

    - each article in results
      div.ui.raised.padded.text.container.segment
        h2.ui.dividing.header: a(href='/browse/article/' + article._id) #{article._source.title}
        - each sentence in article._source.sentences
          span #{sentence}