block annotation

	.ui.stacked.segment
		h2.ui.teal.header
			.content Annotate
		div.annotation
			p.task Is Vaccination a controversial topic?
			div
				input(type='radio',name='controversial',value='Yes',class='ui button')
				'Yes'
			div
				input(type='radio',name='controversial',value='No',class='ui button')
				'No'
			div
				button(id='annotate',class='ui button') Save