block annotation

	.sixteen.wide.column
		.ui.segment(style="border:0px;box-shadow:none;")
			h1.ui.dividing.header Help us better understand this article  
			p  Please read the first two paragraphs of the article and read the comments below it. 
			p
				| Please tell us  
				b your personal
				|  perspective is on the following questions:
		
			p
				.ui.checkbox
					input(type="checkbox",id="a")
					label(for="a")
						b Many people 
						| are involved in discussions on this topic
			p
				.ui.checkbox
					input(type="checkbox",id="b")
					label(for="b") There are 
						b opposing views 
						| on this topic
			p
				.ui.checkbox
					input(type="checkbox",id="c")
					label(for="c") There are 
						b public discussions 
						| on this topic
			p
				.ui.checkbox
					input(type="checkbox",id="d")
					label(for="d") The discussions on this topic 
						b last for a long time
			p
				.ui.checkbox
					input(type="checkbox",id="e")
					label(for="e") The topic of this article triggers 
						b strong emotional responses



			br
			p  The topic of this article is
				.centered.ui.buttons
					button.ui.grey.button Controversial
					.or
					button.ui.negative.button Not Controversial

			a.ui.primary.right.floated.button.annotate-toggle Save