extends layout

block content

	include annotation

	- if (!results._id)
		h2.ui.ten.wide.column 
		| Article "<strong>#{id}</strong>" related to "<strong>#{seed}</strong>" does not exist.
	- else
		div.ui.segment
			h1.ui.dividing.header: #{results._id}
			div.ui.items
				div.item
					div.content
						!= results.text
