extends layout

block content
  .ui.middle.aligned.center.aligned
        .ui.stacked.segment
            h2.ui.teal.header
                .content Controversial Issues
            - each article,i in results
                div(style='display:block;')
                    - var rounded = Math.round(Math.random()*100)
                    a(href='/browse/anchor/'+article._id, class='' style='float:left') #{article._source.document.title}
                    div(style='float:right')
                        div(class="ui active progress" style="width:100px")
                            div(class="bar" style-"width:#{rounded}px")
                                div(class="progress") #{rounded}%
                    p ... 