extends layout

block content
  .ui.middle.aligned.center.aligned
        .ui.stacked.segment
            h2.ui.teal.header
                .content Controversial Issues
            - each topic,i in results.controversial
                div(style='display:block;')
                    - var rounded = Math.round(topic.cont.value*100)/100
                    a(href='/browse/search/'+i, class='term neutral') #{topic.key}
                    div(style='float:right') #{rounded}

        include annotation


        .ui.stacked.segment
            h2.ui.teal.header
                .content Non-Controversial Issues
            - each topic,i in results.noncontroversial
                div(style='display:block;')
                    - var rounded = Math.round(topic.cont.value*100)/100
                    a(href='/browse/search/'+i, class='term neutral') #{topic.key}
                    div(style='float:right') #{rounded}


