extends layout

block content
  .ui.middle.aligned.center.aligned
        .ui.stacked.segment
            h2.ui.teal.header
                .content Controversial Issues
            - each anchor,i in results.controversial
                div(style='display:block;')
                    - var rounded = Math.round(anchor.confidence*100)/100
                    a(href='/browse/anchor/'+anchor.anchor, class='term neutral') #{anchor.anchor}
                    div(style='float:right') #{rounded}


        .ui.stacked.segment
            h2.ui.teal.header
                .content Non-Controversial Issues
            - each anchor,i in results.noncontroversial
                div(style='display:block;')
                    - var rounded = Math.round(anchor.confidence*100)/100
                    a(href='/browse/search/'+anchor.anchor, class='term neutral') #{anchor.anchor}
                    div(style='float:right') #{rounded}


