extends layout

block content
  .ui.middle.aligned.center.aligned
        .ui.stacked.segment
            h2.ui.teal.header
                .content Controversial Issues
            - each link,i in results.controversial
                - each val,key in link
                    div(style='display:block;')
                        a(href='/browse/search/'+key, class='term neutral') #{key}
                        div(style='float:right') #{val.score}

        include annotation


        .ui.stacked.segment
            h2.ui.teal.header
                .content Non-Controversial Issues
            - each link,i in results.noncontroversial
                - each val,key in link
                    div(style='display:block;')
                        a(href='/browse/search/'+key, class='term positive') #{key}
                        div(style='float:right') #{val.score}


