doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js")
    script(src='/javascripts/main.js')

  body
    div.ui.right.very.wide.menu.vertical.sidebar
      include annotation

    div.pusher
      header.ui.fixed.inverted.menu: div.ui.container
        a(href='/browse/',style='font-size: 40px;line-height: 70px;color: #FFF;')= 'ControCurator'
        
        .ui.right.floated.right.aligned(style='width:100%')
          form(action='/browse/search/', method='GET')
            div.ui.search
              div.ui.icon.input(style='float:right;margin-top: 16px;')
                input.prompt(name='id', type='text', placeholder= 'Search')
                i.search.icon


      .ui.main.container(style='margin-top:100px;')
        block error
        block content
          h1 Layout Example
          p If you can see this, something went terribly wrong


        footer(style='padding-top:50px;')
          img(src='/browse/images/vu.png',style='float:left;height:60px;margin-right:40px;')
          img(src='/browse/images/uva.jpg',style='float:left;height:60px;margin-right:40px;')
          img(src='/browse/images/crowdynews.jpg',style='float:left;height:60px;margin-right:40px;')
          img(src='/browse/images/nisv.jpg',style='float:left;height:60px;margin-right:40px;')
          img(src='/browse/images/commit.jpg',style='float:left;height:60px;')
