extends layout

block content

  - if (q && !results.length)
    h2.ui.ten.wide.column 
      | Your search for "<strong>#{q}</strong>"" returned no results.
  - else if (results.length)
    h2.ui.header.ten.wide.column Search results for "#{q}"

  - if (results.length)
    - each link in results
      div.ui.raised.padded.text.container.segment
        h2.ui.header: a(href='/browse/article/' + link._id) #{link._source.title}
        div: a(href=''+link._source.url) #{link._source.url}
        p
          != summarize(link._source.text)